:root {
  --ww-main: #fb923c;
  --ww-sub: #2dd4bf;
  --ww-main-rgb: 251, 146, 60;
  --ww-sub-rgb: 45, 212, 191;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100dvh;
  background-color: #0d0d0d;
}

#root {
  height: 100%;
  min-height: 100dvh;
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
}
